@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body{
     width: 100%;
     max-width: 1440px;
     margin: auto;
     height: 100vh;
}

.container-page{
    width: 960px;
    margin: 64px auto;
    max-width: 100%;
}


.container-header{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #4E5150;
    margin-bottom: 50px;
}

.container-body{
    display: flex;
}

.container-contact-info{
    width: 465px;
    max-width: 100%;
    margin-right: 112px;
}

.container-contact-info>h1{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    transform: rotate(-0.02deg);
}

.container-contact-info p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #4F4F4F;
    transform: rotate(-0.02deg);
    width: 80%;
}

table{
    width: 100%;
}
button{
    margin-top: 78px;
    float: right;
    width: 166px;
    height: 54px;
    left: 539px;
    top: 886px;
    background: #F2994A;
    border-radius: 12px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    outline: none;
}

.container-contact-info>input{
    width: 465px;
    height: 56px;
    max-width: 100%;
    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 12px;
    outline: none;
    padding-left: 52px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #828282;

}

.checkbox{
    width: 21px;
    height: 21px;
    max-width: 100%;
    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 12px;
    outline: none;
    margin:0;

}



.container-contact-info>.address-sub{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    gap: 15px;
}

.container-contact-info>.address-sub>.one{
  grid-column: 1/span 5;
}

.container-contact-info>.address-sub>.two{
    grid-column:6/span 5;
  }

.container-contact-info>.address-sub>div>input{
    width: 465px;
    height: 56px;
    max-width: 100%;
    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 12px;
    outline: none;
    padding-left: 52px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #828282;
}

.container-contact-info>.address-sub>div>select{
    width: 465px;
    height: 56px;
    max-width: 100%;
    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 12px;
    outline: none;
    padding-left: 52px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #828282;
}

.container-contact-info>.address-sub>div>p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #4F4F4F;
    transform: rotate(-0.02deg);
}

/* ----------------------------input field image icon-------------------------------- */

#email{
    background-image: url(/images/email-24px.svg);
    background-position: 7px 14px;
    background-repeat: no-repeat;
    
}

#phone{
    background-image: url(/images/phone-24px.svg);
    background-position: 7px 14px;
    background-repeat: no-repeat;
    
}


#name{
    background-image: url(/images/account_circle-24px.svg);
    background-position: 7px 14px;
    background-repeat: no-repeat;
    
}


#address{
    background-image: url(/images/home-24px.svg);
    background-position: 7px 14px;
    background-repeat: no-repeat;
    
}


#city{
    background-image: url(/images/location_city-24px.svg);
    background-position: 7px 14px;
    background-repeat: no-repeat;
    
}

#country{
    background-image: url(/images/public-24px.svg);
    background-position: 7px 14px;
    background-repeat: no-repeat;
    
}

#postal{
    background-image: url(/images/markunread_mailbox-24px.svg);
    background-position: 7px 14px;
    background-repeat: no-repeat;
}

/* ---------------------------------------------------------------------------------- */



.container-cart{
    width: 383px;
    height: 534px;
    max-width: 100%;
    background: #F2F2F2;
    border-radius: 12px;
    display: grid;
    grid-column: auto auto 5fr auto;
}

.container-cart>.container-item>.item>img{
    width: 135.7px;
    height: 135.91px;

    border-radius: 12px;
}

.container-cart>.container-item>.item{
    margin: 30px 30px;
}

aside{float: right;
width: 53%}

aside>p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    color: #4E5150;
    
    transform: rotate(-0.02deg);
}

aside>.new{
    font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;

/* Orange */

color: #F2994A;
transform: rotate(-0.02deg);

}

aside>.old{
    font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
text-decoration-line: line-through;

color: #4E5150;

transform: rotate(-0.02deg);
}

.total{
    margin: 0 29px;
    padding-top: 20px;
}

.total>span{
    font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;

/* Gray 1 */

color: #333333;
}


.quantity{
    width: 134.25px;
    height: 52px;
    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 12px;
    display: flex;
    justify-content: center;
}

.quantity>input{
    width: 50%;
    outline: none;
    background-color: #F2F2F2;
    border: none;
    text-align: center;
}

.quantity>span{
    margin: 15px 10px;
    width: 25px;
    height: 20px;
    background: #E0E0E0;
    border-radius: 4px;
    text-align: center;
}


footer{

text-align: center;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
color: #A9A9A9;
}

/* -----------------------------------media query---------------------------------- */

@media screen and (max-width:1100px){
    
    .container-body{
        flex-direction: column-reverse;
    }

    .container-header{
        width: 90%;
        margin: 30px auto;
    }

    .container-cart{
       width: 90%;
       margin: auto;
    }

    .container-contact-info{
        width: 90%;
        margin: auto;
    }

    .container-contact-info input{
        width: 100%;
        margin: auto;
    }
    
}